.product-categories-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.category-card {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.5s ease, background-color 0.3s ease, height 0.5s ease;
}

.category-card.helados {
    background-color: #ffe6f0;
}

.category-card.cafeteria {
    background-color: #d4c2a5;
    /* Color marrón suave */
}

.category-card.chocolates {
    background-color: #e6f2ff;
}

.category-card:hover {
    transform: scale(1.06);
    height: 60vh;
    /* Ocupa la mitad del contenedor */
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-card {
    width: 70px;
    /* Ajustar tamaño inicial */
    height: 70px;
    /* Ajustar tamaño inicial */
    padding: 5px;
    background-color: #f7f7f7;
    border-radius: 8px;
    transition: transform 0.3s ease, font-size 0.3s ease;
    /* Transiciones suaves */
}

.product-card:hover {
    transform: scale(1.2);
    /* Aumentar tamaño */
    font-size: 1.4rem;
    /* Aumentar tamaño de la fuente */
}

.product-card-text {
    font-size: 0.6rem;
    /* Tamaño de fuente normal */
    font-weight: bold;
    text-align: center;
    transition: font-size 0.3s ease;
    /* Transición para el texto */
}

